@media only screen and (min-width: 1200px) {
    .container {
        width: 100%;
        max-width: 1280px;
        padding: 0 30px;
    }
} 
@media only screen and (max-width: 1199px) {
    .container {
        width: 90%;
    }
}
* {
    box-sizing: border-box;
} 
body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #000;
    background: #6eaab9;
    position: relative;
}
a {
    font-size: 12px;
    text-decoration: none;
    color: #000;
}
h1 {
    font-family: 'Abril Fatface', cursive;
}
h2 {
    font-size: 25px;
}
p {
    font-size: 14px;
}
::placeholder {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: rgba(226, 226, 226, 0.8);
}
header, section, footer {
    margin: 0 5px 0 5px;
    background: #fff;
}
header {
    border-bottom: 1px rgba(222,222,223,0.7) solid;
}
.container {
    margin: 0 auto;
}
.chat {
    position: fixed;
    top: 85%;
    right: 2.5%;
    background: rgb(186, 85, 119);
    border-radius: 50%;
    z-index: 999;
}
.chat i {
    font-size: 30px;
    padding: 20px;
    color: #fff;
}
.notification {
    text-align: center;
    padding: 10px 13px;
    background: #6eaab9;
    color: #fff;
    cursor: pointer;
}
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 0;
    font-size: 14px;
    font-weight: 300;
}
.top-left ul{
    display: flex;
}
.top-left ul li {
    border-right: 1px solid gray;
}
.top-left ul li a {
    padding: 0 11px 0 7px;
}
.top-left ul li:nth-child(3) {
    border: none;
}
.top-right {
    display: flex;
    align-items: center;
}
.top-right ul {
    display: flex;
    align-items: center;
}
.top-right ul li {
    border-right: 1px solid rgba(150, 150, 150, 0.5);
}
.top-right ul li a {
    padding: 0 5px 0 7px;
}
.top-right ul li:nth-child(4) {
    border: none;
}
.phone-number i, p {
    font-size: 12px;
}
.phone-number {
    display: flex;
    align-items: center;
    padding: 0 0 0 10px; 
    font-weight: 700;
}
.phone-number i {
    padding: 0 10px 0 0;
    color: #6eaab9;
}
.ph-hover {
    text-align: right;
    cursor: pointer;
}
.ph-hover:hover .phone-hover {
    display: block;
}
.phone-hover {
    position: absolute;
    right: 0;
    margin: 10px 60px 0 0;
    width: 300px;
    display: none;
    padding: 5px 10px;
    text-align: right;
    background: url(../images/bg-content.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.ph-isi {
    padding: 5px 10px ;
}
.ph-isi h3 {
    font-weight: 600;
    padding: 5px 0;
}
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 0;
}
.search input {
    border: none;
    border-bottom: 1px rgba(226, 226, 226, 0.8) solid;
    padding: 15px 5px;
}
.search img {
    width: 25px;
    cursor: pointer;
}
.logo {
    position: relative;
    left: -6%;
    width: 390px;
}
.basket-right {
    width: 38px;
    margin: 0 10px 0 0;
}
.main-nav {
    padding: 15px 30px;
}
.main-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-nav ul li a {
    font-size: 14px;
    font-weight: 400;
}
.main-content {
    padding: 25px 0;
}
.main-nav ul li a::after {
    margin: 10px 0 0 0;
    display:block;
    content: "";
    border-bottom: solid 2px #cc0e74;  
    transform: scaleX(0);  
    transition: .3s ease-in-out;
    transform-origin:  0% 50%;
}
.main-nav ul li a:hover::after {
    transform: scaleX(1);
}
.dropdown {
    display: none;
}
.img-top {
    max-width: 100%;
}
.img-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    
}
.img-bt-hover {
    width: 50%;
    overflow: hidden;
    margin: 15px 0 ;
}
.img-bt-hover:nth-child(1) {
    margin-right: 15px;
}
.img-bottom img{
    transition: transform 3s ease;
    width: 100%;
}
.btm-img:hover {
    transform: scale(1.2);
}
.title-group {
    display: flex;
    justify-content: space-between;
}
.box {
    width: 33%;
    height: 250px;
    position: relative;
    padding: 0 7px;
    overflow: hidden;
}
.box p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 50px;
    background: rgba(226, 226, 226, 0.8);
    font-family: 'Abril Fatface', cursive;
    font-size: 20px;
    color: rgb(54, 54, 54);
}
.box img {
    width: 100%;
    transition: transform 3s ease;
}
.box:hover img {
    transform: scale(1.2);
    filter: blur(1px);
}
.testimonial {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto;
    width: 80%;
}
.testimonial img{
    width: 145px;
}
.testimonial p:nth-child(3) {
    font-size: 13px;
}
.text-test {
    padding: 10px 0 0 0;
    width: 60%;
    text-align: center;
}
.text-test p{
    font-size: 15px;
    line-height: 23px;
}
.kutip-awal {
    margin: -20px 0 0 0;
}
.kutip-akhir {
    margin: 20px 0 0 0;
}
.bdr-bt {
    width: 120px;
    height: 2px;
    background: #6eaab9;
    margin: 20px auto;
    content: "";
    display: block;
}
.int-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 0 0;
}
.line-int {
    width: 38%;
    height: 1px;
    background: rgba(226, 226, 226, 0.8);
    content: "";
    display: block;
}
.int-title h1 {
    font-size: 35px;
}
.article-content {
    background: url(../images/bg-content.png);
    background-size: cover;
    background-position: center;
    margin: 50px 0 70px 0;
    padding: 50px 0;
}
.article-content .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-article {
    width: 30%;
    height: auto;
    background: #fff;
    box-shadow: 0 0 10px rgba(112, 112, 112, 0.3);
}
.box-content {
    width: 90%;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
}
.box-title h2 {
    padding: 20px 0 10px 0;
    font-weight: 300;
}
.article-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}
.article-img a img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
    transition: 1s ease;
}
.box-title p {
    padding: 20px 0 10px 0;
    line-height: 25px;
}
.box-title button {
    margin: 10px 0;
    padding: 10px 20px;
    border: 1px rgba(190, 190, 190, 0.5) solid;
    background: transparent;
}
.box-isi {
    width: 14%;
    height: auto;
    padding: 10px;
}
.catalogue-img {
    width: 100%;
    height: 180px;
    overflow: hidden;
    position: relative;
}
.catalogue-img img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
    filter: grayscale(80%);
}
.catalogue-img:hover img {
    filter: grayscale(0) ;
}
.catalogue-title p{
    padding: 10px 0 0 0;
    width: 100%;
    line-height: 20px;
}
.catalogue .container .int-title .line-int {
    width: 40%;
}
.cost {
    padding: 0 0 10px 0;
    font-size: 17px;
    font-weight: 700;
}
.box-catalogue {
    margin: 20px 0 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.but-view {
    padding: 10px 0 0 0;
    width: 100%;
    height: auto;
    text-align: center;
}
.insta .container .int-title .line-int {
    width: 37%;
}
.gallery-content {
    padding: 30px 0;
}
.gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gallery-img {
    width: 255px;
    height: 255px;
    background: grey;
    background: url(../images/furniture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 3px;
    position: relative;
}
.gallery-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: 0.7s;
}
.gallery-img:hover .gallery-hover {
    opacity: 0.6 ;
}
.gallery-img:hover i {
    opacity: 1;
}
.gallery-img i {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    transition: 0.7s;
}
footer {
    background: #f9f6f7;
}
.foot-left {
    width: 50%;
    padding: 20px 0 0 0;
}
.help {
    display: flex;
}
.foot-logo {
    margin: 0 50px 0 0;
}
.foot-logo img{
    width: 60px;
}
.foot-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 0;
}
.sosmed i {
    font-size: 20px;
    margin: 10px 15px 0 0;
}
.but-up a{
    font-size: 13px;
}
.get {
    margin: 0 50px 0 0;
}
.get p, .advice p {
    font-size: 16px;
    margin: 0 0 5px 0;
    font-weight: 700;
}
.get ul li, .advice ul li {
    padding: 8px 0 7px 0;
    border-bottom: 1px solid transparent;
}
.get ul li:hover, .advice ul li:hover {
    border-bottom: 1px solid rgba(150, 150, 150, 0.5);
}
.info p:nth-child(1) {
    padding: 50px 0 40px 0;
}
.info p:nth-child(2) {
    line-height: 25px;
    margin: 0 0 20px 0;
}
.info p:nth-child(3) {
    margin: 30px 0;
    font-weight: 700;
    font-size: 16px;
}
.info p:nth-child(4), .info p:nth-child(5), .info p:nth-child(6) {
    margin: 10px 0;
}
.info {
    padding: 0 0 20px 0;
}
.subscribe {
    width: 100%;
    padding: 15px;
    margin: 0 0 0 105px;
    background: #fff;
    box-shadow: 0 0 10px rgba(194, 194, 194, 0.3);
}
.subscribe-title h1 {
    width: 60%;
}
.subscribe-title img {
    width: 30%;
}
.subscribe-title {
    display: flex;
    justify-content: space-between;
    margin: 0 0 30px 0;
}
.subscribe p {
    width: 65%;
    line-height: 20px;
}
.subscribe h1 {
    font-size: 40px;
}
.subscribe input {
    width: calc(100% - 20px);
    border: none;
    padding: 10px 10px;
    border-bottom: 1px rgba(150, 150, 150, 0.7) solid;
    margin: 10px 0 20px 0;
}
.subscribe button {
    border: 1px rgba(150, 150, 150, 0.7) solid;
    background: transparent;
    padding: 10px 20px;
}
.foot-bottom {
    display: flex;
}
.foot-right {
    width: 40%;
}
button:hover {
    background: #b8de6f;
    color: #fff;
    border: 1px solid transparent;
}
.payment {
    position: absolute;
    right: 5.3%;
}
.payment img {
    height: 20px;
    width: auto;
    margin: 40px 10px;
}